# OS X
.DS_Store

# Python
__pycache__/
*.py[cod]
develop-eggs
.installed.cfg
lib
lib64

# Sphinx documentation
docs/_build/

*~
*.pyc
*.egg-info
.ropeproject
build/
dist
.idea/

# Compiled javascript
ipytracer/static/
ipytracer/staticlab/

# Node modules
node_modules